body {
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    letter-spacing: -.02em;
    word-spacing: -.04em;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    background-color: #fcfcfc;
    color: #293239;
}
body > div {
    margin: .5rem 0 1rem 0;
    padding: 24px;
    background-color: #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;

    border-radius: 3px;

    background-color: #fcfcfc;
}
h2 {
    margin-top: 25px;
    margin-bottom: 25px;
    font-family: serif;
}
form {
    margin-top: 30px;
    margin-bottom: 30px;
}
input {
    font-size: 18px;
    padding: 4px 8px;
    border-radius: 5px;
    border: 2px #ddd solid;
    box-shadow: none;
    outline: none;
}
*:focus {
    outline: none;
}

#pokelogo {
  max-width:500px;
}

body {
  background-image: url('wallpaper.png');
}

.button {
    background-color: #E6E6E6;
    border: transparent;
    color: rgba(0,0,0,.8);
    padding: .5em 1em;
    font-size: 100%;
    text-decoration: none;
    border-radius: 2px;
    cursor: pointer;
}
.button:focus, .button:hover {
    background-image: -webkit-linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1));
    background-image: linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1));
}
.button:active {
    border-color: #000;
    box-shadow: 0 0 0 1px rgba(0,0,0,.15) inset, 0 0 6px rgba(0,0,0,.2) inset;
}
button.button {
    outline: none;
}

